<app-sidenav>
  <div appSidenavContent>
    <mat-card>
      <mat-card-title>
        <h1>Companies</h1>
      </mat-card-title>

      <mat-card-content>
        <mat-form-field>
          <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
        </mat-form-field>

        <table [dataSource]="dataSource" matSort mat-table>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
            <td *matCellDef="let row" mat-cell>{{row.name}}</td>
          </ng-container>

          <ng-container matColumnDef="location">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Location</th>
            <td *matCellDef="let row" mat-cell>{{row.location}}</td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[4, 5, 6]" [pageSize]="5"></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</app-sidenav>
