<div class="content mat-typography">
  <app-header title="Events"></app-header>

  <app-sidenav>
    <mat-grid-list app-sidenav-content cols="12" gutterSize="16px" rowHeight="100px">
      <mat-grid-tile *ngFor="let card of cards" [colspan]="12" [rowspan]="2">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h1>{{ card.title }}</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ card.content }}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </app-sidenav>

  <app-footer></app-footer>
</div>
