$boys-brigade-blue: (
  50 : #e4e9f1,
  100 : #bdc9dd,
  200 : #91a5c7,
  300 : #6481b0,
  400 : #43669f,
  500 : #224b8e,
  600 : #1e4486,
  700 : #193b7b,
  800 : #143371,
  900 : #0c235f,
  A100 : #93adff,
  A200 : #6086ff,
  A400 : #2d5fff,
  A700 : #144cff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$boys-brigade-dark-blue: (
  50 : #e6e7eb,
  100 : #c0c4ce,
  200 : #969cad,
  300 : #6c748c,
  400 : #4d5773,
  500 : #2d395a,
  600 : #283352,
  700 : #222c48,
  800 : #1c243f,
  900 : #11172e,
  A100 : #6d8bff,
  A200 : #3a63ff,
  A400 : #073aff,
  A700 : #0031ec,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$boys-brigade-light-blue: (
  50 : #ecf3fa,
  100 : #cee0f2,
  200 : #aecce9,
  300 : #8eb8e0,
  400 : #75a8d9,
  500 : #5d99d2,
  600 : #5591cd,
  700 : #4b86c7,
  800 : #417cc1,
  900 : #306bb6,
  A100 : #fbfdff,
  A200 : #c8dfff,
  A400 : #95c1ff,
  A700 : #7bb2ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family.
$typography-config: mat-typography-config(
  $font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"'
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($typography-config);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color
$primary: mat-palette($mat-grey, 900);
$accent: mat-palette($boys-brigade-light-blue);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-dark-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a,
.active *,
.mat-focused .mat-form-field-label,
.mat-form-field.mat-focused.mat-primary .mat-select-arrow,
.mat-header-cell.mat-sort-header-sorted,
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: mat-color($accent) !important;
}

body {
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}
