/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/_theming';
@import './theme';

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;

  &.mat-menu-item > mat-icon {
    margin-bottom: 14px;
  }
}

button.mat-menu-item {
  line-height: 24px !important;
}

body {
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

html {
  box-sizing: border-box;
}

.mat-icon svg {
  height: 24px;
  width: 24px;
}
