<app-sidenav>
  <div appSidenavContent>
    <mat-card>
      <mat-card-title>
        <h1>Introduction</h1>
      </mat-card-title>
      <mat-card-content>
        <p>There are currently 11 companies in the Avon Battalion which stretches across 3 different local authorities. Between all of these companies there are over 340 boys and over 100 staff.</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        <h1>History</h1>
      </mat-card-title>
      <mat-card-content>
        <p>The Avon Battalion was formed in 1974 alongside the creation of the county of Avon. Previously, there had been a Bristol Battalion formed in 1891, only 8 years after the Boys' Brigade was founded.</p>
      </mat-card-content>
    </mat-card>
  </div>
</app-sidenav>
