<app-sidenav>
  <div appSidenavContent>
    <mat-card>
      <mat-card-title>
        <h1>Welcome</h1>
      </mat-card-title>
      <mat-card-content>
        <p>The Avon Battalion consists of the various companies in and around the Bristol area.</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        <h1>Companies</h1>
      </mat-card-title>
      <mat-card-content>
        <p>We have a number of companies throughout the Avon area, see all of them <a routerLink="/companies">here</a>.</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        <h1>Questions</h1>
      </mat-card-title>
      <mat-card-content>
        <p>Please do not hesitate to get in touch with us, you can contact us via <a href="mailto:avon.battalion@boys-brigade.org.uk">email</a>.</p>
      </mat-card-content>
    </mat-card>
  </div>
</app-sidenav>
