/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/_theming';
@import './theme';

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a, .active * {
  color: mat-color($app-primary, A100);
}

app-footer, app-header {
  z-index: 10;
}

app-sidenav {
  flex: 1;
}

body {
  margin: 0;
}

body, html {
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

html {
  box-sizing: border-box;
}

.mat-card-header-text {
  margin: 0 !important;
}

mat-grid-list {
  margin: 16px;
}
