/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

app-footer,
app-header {
  z-index: 10;
}

app-sidenav {
  flex: 1;
}

body {
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

html {
  box-sizing: border-box;
}

/* Angular Material Theme Overrides */
@import '~@angular/material/_theming';
@import './theme';

$primary-accent: mat-color($app-primary, A200);

a,
.active *,
.mat-focused .mat-form-field-label,
.mat-form-field.mat-focused.mat-primary .mat-select-arrow,
.mat-header-cell.mat-sort-header-sorted,
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $primary-accent !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-form-field-ripple {
  background-color: $primary-accent !important;
}

.mat-grid-list {
  margin: 16px !important;
}

.mat-input-element {
  caret-color: $primary-accent !important;
}
.mat-sort-header-container {
  align-items: center;
}
