<div class="content">
  <header>
    <mat-toolbar class="mat-primary">
      <h1>Home</h1>
    </mat-toolbar>
  </header>

  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <h1>Sidebar</h1>
    </mat-sidenav>

    <mat-sidenav-content>
      <h1>Content</h1>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <footer>
    <mat-toolbar class="mat-primary">
      <h1>Website Created By <a href="https://www.linkedin.com/in/thomas-clark-091aa313a" target="_blank">Thomas Clark</a></h1>
    </mat-toolbar>
  </footer>
</div>
